{% include 'overall_header.html' %}

<a id="maincontent"></a>

{% if S_ADD_PROD or S_EDIT_PROD %}

	<a href="{{ U_BACK }}" style="float: {{ S_CONTENT_FLOW_END }};">&laquo; {{ lang('BACK') }}</a>

	{% if S_ERROR %}
		<div class="errorbox">
			<h3>{{ lang('WARNING') }}</h3>
			<p>{{ ERROR_MSG }}</p>
		</div>
	{% endif %}

	{% if S_ADD_PROD %}
		<h1>{{ lang('ACP_GROUPSUB_PROD_ADD') }}</h1>
	{% else %}
		<h1>{{ lang('ACP_GROUPSUB_PROD_EDIT') }} :: {{ PROD_NAME }}</h1>
	{% endif %}

	<form id="add_edit_prod" method="post" action="{{ U_ACTION }}">
		<fieldset>
			<legend>{{ lang('ACP_GROUPSUB_PROD_DETAILS')}}</legend>
			<dl>
				<dt><label for="prod_name">{{ lang('ACP_GROUPSUB_PROD_NAME') ~ lang('COLON') }}</label></dt>
				<dd><input class="text medium" type="text" id="prod_name" name="prod_name" value="{{ PROD_NAME }}" maxlength="255" /></dd>
			</dl>
			<dl>
				<dt><label for="prod_desc">{{ lang('ACP_GROUPSUB_PROD_DESC') ~ lang('COLON') }}</label></dt>
				<dd><textarea id="prod_desc" name="prod_desc" rows="5" cols="45" data-bbcode="true">{{ PROD_DESC }}</textarea></dd>
				<dd>
					<label><input type="checkbox" class="radio" name="parse_bbcode"{% if S_PARSE_BBCODE_CHECKED %} checked="checked"<{% endif %} /> {{ lang('PARSE_BBCODE') }}</label>
					<label><input type="checkbox" class="radio" name="parse_smilies"<{% if S_PARSE_SMILIES_CHECKED %} checked="checked"<{% endif %} /> {{ lang('PARSE_SMILIES') }}</label>
					<label><input type="checkbox" class="radio" name="parse_magic_url"<{% if S_PARSE_MAGIC_URL_CHECKED %} checked="checked"<{% endif %} /> {{ lang('PARSE_URLS') }}</label>
				</dd>
			</dl>
			<dl>
				<dt><label for="prod_price">{{ lang('ACP_GROUPSUB_PROD_PRICE') ~ lang('COLON') }}</label><br /><span>{{ lang('ACP_GROUPSUB_PROD_PRICE_EXPLAIN') }}</span></dt>
				<dd>
					<input class="text" type="text" id="prod_price" name="prod_price" size="4" maxlength="10" value="{{ PROD_PRICE }}" />&nbsp;
					<select name="prod_currency" id="prod_currency">
						{% for c in currency %}
							<option value="{{ c.CURRENCY }}"{% if c.S_SELECTED %} selected="selected"{% endif %}>{{ c.CURRENCY }}</option>
						{% endfor %}
					</select>
				</dd>
			</dl>
			<dl>
				<dt><label for="prod_length">{{ lang('ACP_GROUPSUB_PROD_LENGTH') ~ lang('COLON') }}</label><br /><span>{{ lang('ACP_GROUPSUB_PROD_LENGTH_EXPLAIN') }}</span></dt>
				<dd><input class="text" type="text" id="prod_length" name="prod_length" size="4" maxlength="10" value="{{ PROD_LENGTH }}" /></dd>
			</dl>
			<dl>
				<dt><label for="prod_warn_time">{{ lang('ACP_GROUPSUB_PROD_WARN_TIME') ~ lang('COLON') }}</label><br /><span>{{ lang('ACP_GROUPSUB_PROD_WARN_TIME_EXPLAIN') }}</span></dt>
				<dd><input class="text" type="text" id="prod_warn_time" name="prod_warn_time" size="4" maxlength="10" value="{{ PROD_WARN_TIME }}" /></dd>
			</dl>
			<dl>
				<dt><label for="prod_grace">{{ lang('ACP_GROUPSUB_PROD_GRACE') ~ lang('COLON') }}</label><br /><span>{{ lang('ACP_GROUPSUB_PROD_GRACE_EXPLAIN') }}</span></dt>
				<dd><input class="text" type="text" id="prod_grace" name="prod_grace" size="4" maxlength="10" value="{{ PROD_GRACE }}" /></dd>
			</dl>
		</fieldset>
		<fieldset class="submit-buttons">
			<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;
			<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}" />
			{{ S_FORM_TOKEN }}
		</fieldset>
	</form>

{% else %}

	<h1>{{ lang('ACP_GROUPSUB_MANAGE_PRODS') }}</h1>

	<p>{{ lang('ACP_GROUPSUB_MANAGE_PRODS_EXPLAIN') }}</p>

	<table class="table1 zebra-table responsive">
		<thead>
			<th>{{ lang('ACP_GROUPSUB_PROD') }}</th>
			<th style="width: 10%">{{ lang('ACP_GROUPSUB_PRICE') }}</th>
			<th style="width: 10%">{{ lang('ACP_GROUPSUB_LENGTH') }}</th>
			<th style="width: 10%">{{ lang('ACTION') }}</th>
		</thead>
		<tbody>
			{% for p in product %}
				<tr>
					<td><strong>{{ p.PROD_NAME }}</strong></td>
					<td><strong>{{ p.PROD_PRICE }} {{ p.PROD_CURRENCY }}</strong></td>
					<td><strong>{{ p.PROD_LENGTH }}</strong></td>
					<td class="actions">
						<span class="up-disabled" style="display:none;">{{ ICON_MOVE_UP_DISABLED }}</span>
						<span class="up"><a href="{{ p.U_MOVE_UP }}" data-ajax="row_up">{{ ICON_MOVE_UP }}</a></span>
						<span class="down-disabled" style="display:none;">{{ ICON_MOVE_DOWN_DISABLED }}</span>
						<span class="down"><a href="{{ p.U_MOVE_DOWN }}" data-ajax="row_down">{{ ICON_MOVE_DOWN }}</a></span>
						<a href="{{ p.U_EDIT }}">{{ ICON_EDIT }}</a>
						<a href="{{ p.U_DELETE }}" data-ajax="row_delete">{{ ICON_DELETE }}</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4" style="text-align: center;">{{ lang('ACP_GROUPSUB_NO_PRODS') }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<form id="prod_add" method="post" action="{{ U_ADD_PROD }}">
		<fieldset class="quick">
			<input class="button2" type="submit" name="add" value="{{ lang('ACP_GROUPSUB_PROD_ADD') }}" />
		</fieldset>
	</form>

{% endif %}

{% include 'overall_footer.html' %}
