<form id="add_edit_sub" method="post" action="{{ U_ACTION }}">
	<fieldset>
		<legend>{{ lang('ACP_GROUPSUB_SUB_DETAILS')}}</legend>
{% if S_ADD_SUB %}
	{% if S_SHOW_USER %}
		<dl>
			<dt><label for="sub_user">{{ lang('ACP_GROUPSUB_SUB_USER') ~ lang('COLON') }}</label></dt>
			<dd><input class="text medium" type="text" id="sub_user" name="sub_user" value="{{ SUB_USER }}" maxlength="255" autocomplete="off"></dd>
			<dd>[ <a href="{{ U_FIND_USERNAME }}" onclick="find_username(this.href); return false;">{{ lang('FIND_USERNAME') }}</a> ]</dd>
		</dl>
	{% endif %}
		<dl>
			<dt><label for="sub_package">{{ lang('ACP_GROUPSUB_SUB_PACKAGE') ~ lang('COLON') }}</label></dt>
			<dd>
	{% if package|length > 1 %}
				<select name="sub_package" id="sub_package">
					<option value="0">{{ lang('ACP_GROUPSUB_SUB_SELECT_PACKAGE') }}</option>
		{% for p in package %}
					<option value="{{ p.ID }}"{% if p.ID == SUB_PACKAGE %} selected{% endif %}>{{ p.NAME }}</option>
		{% endfor %}
					</select>
	{% else %}
				<input type="hidden" name="sub_package" id="sub_package" value="{{ package[0].ID }}">
				{{ package[0].NAME }}
	{% endif %}
			</dd>
		</dl>
{% else %}
		<dl>
			<dt>{{ lang('ACP_GROUPSUB_STATUS') ~ lang('COLON') }}</dt>
			<dd>{% if S_ACTIVE %}<b style="color: #00d600;">{{ lang('ACP_GROUPSUB_ACTIVE') }}</b>{% else %}<i style="color: #f00;">{{ lang('ACP_GROUPSUB_ENDED') }}</i>{% endif %}</dd>
		</dl>
	{% if S_SHOW_USER %}
		<dl>
			<dt>{{ lang('ACP_GROUPSUB_SUB_USER') ~ lang('COLON') }}</dt>
			<dd>{{ SUB_USER }}</dd>
		</dl>
	{% endif %}
		<dl>
			<dt>{{ lang('ACP_GROUPSUB_SUB_PACKAGE') ~ lang('COLON') }}</dt>
			<dd>
				<input type="hidden" name="sub_package" id="sub_package" value="{{ SUB_PACKAGE }}">
				{{ SUB_PACKAGE_NAME }}
			</dd>
		</dl>
{% endif %}
{% if (S_ACTIVE or S_ADD_SUB) and not S_READ_ONLY %}
		<dl>
			<dt><label for="sub_start">{{ lang('ACP_GROUPSUB_SUB_START') ~ lang('COLON') }}</label><br><span>{{ lang('ACP_GROUPSUB_SUB_START_EXPLAIN') }}</span></dt>
			<dd><input class="text medium" type="text" id="sub_start" name="sub_start" value="{{ SUB_START }}" maxlength="255"></dd>
			<dd><label for="sub_start">{{ lang('YEAR_MONTH_DAY') }}</label></dd>
		</dl>
		<dl>
			<dt><label for="sub_expire">{{ lang('ACP_GROUPSUB_SUB_EXPIRE') ~ lang('COLON') }}</label><br><span>{{ lang('ACP_GROUPSUB_SUB_EXPIRE_EXPLAIN') }}</span></dt>
			<dd id="terms"></dd>
			<dd><input class="text medium" type="text" id="sub_expire" name="sub_expire" value="{{ SUB_EXPIRE }}" maxlength="255"></dd>
			<dd><label for="sub_expire">{{ lang('YEAR_MONTH_DAY') }}</label></dd>
		</dl>
{% else %}
		<dl>
			<dt>{{ lang('ACP_GROUPSUB_SUB_START') ~ lang('COLON') }}</dt>
			<dd>{{ SUB_START }}</dd>
		</dl>
		<dl>
			<dt>{{ lang('ACP_GROUPSUB_SUB_EXPIRE') ~ lang('COLON') }}</dt>
			<dd>{{ SUB_EXPIRE }}</dd>
		</dl>
{% endif %}
	</fieldset>
{% if not S_READ_ONLY %}
	<fieldset class="submit-buttons">
		<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}">&nbsp;
		<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}">
	{{ S_FORM_TOKEN }}
	</fieldset>
{% endif %}
</form>
<script>var terms = {{ TERMS_JSON }};</script>
{% INCLUDEJS '@stevotvr_groupsub/edit_subscription.js' %}
