{% include 'overall_header.html' %}

<a id="maincontent"></a>

{% if S_ADD_SUB or S_EDIT_SUB %}

	<a href="{{ U_BACK }}" style="float: {{ S_CONTENT_FLOW_END }};">&laquo; {{ lang('BACK') }}</a>

	{% if ERROR_MSG %}
		<div class="errorbox">
			<h3>{{ lang('WARNING') }}</h3>
			<p>{{ ERROR_MSG }}</p>
		</div>
	{% endif %}

	{% if S_ADD_SUB %}
		<h1>{{ lang('ACP_GROUPSUB_SUB_ADD') }}</h1>
	{% else %}
		<h1>{{ lang('ACP_GROUPSUB_SUB_EDIT') }}</h1>
	{% endif %}

	<form id="add_edit_sub" method="post" action="{{ U_ACTION }}">
		<fieldset>
			<legend>{{ lang('ACP_GROUPSUB_SUB_DETAILS')}}</legend>
			{% if S_ADD_SUB %}
				<dl>
					<dt><label for="sub_user">{{ lang('ACP_GROUPSUB_SUB_USER') ~ lang('COLON') }}</label></dt>
					<dd><input class="text medium" type="text" id="sub_user" name="sub_user" value="{{ SUB_USER }}" maxlength="255" autocomplete="off"></dd>
					<dd>[ <a href="{{ U_FIND_USERNAME }}" onclick="find_username(this.href); return false;">{{ lang('FIND_USERNAME') }}</a> ]</dd>
				</dl>
				<dl>
					<dt><label for="sub_package">{{ lang('ACP_GROUPSUB_SUB_PACKAGE') ~ lang('COLON') }}</label></dt>
					<dd><select name="sub_package" id="sub_package">
						{% for p in package %}
							<option value="{{ p.ID }}"{% if p.ID == SUB_PACKAGE %} selected="selected"{% endif %}>{{ p.NAME }}</option>
						{% endfor %}
					</select></dd>
				</dl>
			{% else %}
				<dl>
					<dt>{{ lang('ACP_GROUPSUB_SUB_USER') ~ lang('COLON') }}</dt>
					<dd>{{ SUB_USER }}</dd>
				</dl>
				<dl>
					<dt>{{ lang('ACP_GROUPSUB_SUB_PACKAGE') ~ lang('COLON') }}</dt>
					<dd>{{ SUB_PACKAGE }}</dd>
				</dl>
			{% endif %}
			<dl>
				<dt><label for="sub_start">{{ lang('ACP_GROUPSUB_SUB_START') ~ lang('COLON') }}</label><br><span>{{ lang('ACP_GROUPSUB_SUB_START_EXPLAIN') }}</span></dt>
				<dd><input class="text medium" type="text" id="sub_start" name="sub_start" value="{{ SUB_START }}" maxlength="255"></dd>
				<dd><label for="sub_start">{{ lang('YEAR_MONTH_DAY') }}</label></dd>
			</dl>
			<dl>
				<dt><label for="sub_expire">{{ lang('ACP_GROUPSUB_SUB_EXPIRE') ~ lang('COLON') }}</label><br><span>{{ lang('ACP_GROUPSUB_SUB_EXPIRE_EXPLAIN') }}</span></dt>
				<dd><input class="text medium" type="text" id="sub_expire" name="sub_expire" value="{{ SUB_EXPIRE }}" maxlength="255"></dd>
				<dd><label for="sub_expire">{{ lang('YEAR_MONTH_DAY') }}</label></dd>
			</dl>
		</fieldset>
		<fieldset class="submit-buttons">
			<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}">&nbsp;
			<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}">
			{{ S_FORM_TOKEN }}
		</fieldset>
	</form>

{% else %}

	<h1>{{ lang('ACP_GROUPSUB_MANAGE_SUBS') }}{% if PKG_NAME %} :: {{ PKG_NAME }}{% endif %}</h1>

	<p>{{ lang('ACP_GROUPSUB_MANAGE_SUBS_EXPLAIN') }}</p>

	{% if package|length > 1 %}
		<form id="sub_filter" method="post" action="{{ U_ACTION }}">
			<fieldset class="quick">
				{{ lang('ACP_GROUPSUB_PKG') ~ lang('COLON') }}
				<select name="pkg_id" id="pkg_id">
					<option value="0">{{ lang('ACP_GROUPSUB_ALL_PACKAGES') }}</option>
					{% for p in package %}
						<option value="{{ p.ID }}"{% if p.S_SELECTED %} selected="selected"{% endif %}>{{ p.NAME }}</option>
					{% endfor %}
				</select>
				<input class="button2" type="submit" name="filter" value="{{ lang('GO') }}">
			</fieldset>
		</form>
	{% endif %}

	<table class="table1 zebra-table responsive">
		<thead>
			<th>{{ lang('ACP_GROUPSUB_USER') }}</th>
			<th>{{ lang('ACP_GROUPSUB_SUB') }}</th>
			<th style="width: 15%">{{ lang('ACP_GROUPSUB_START') }}</th>
			<th style="width: 15%">{{ lang('ACP_GROUPSUB_EXPIRES') }}</th>
			<th style="width: 10%">{{ lang('ACTION') }}</th>
		</thead>
		<tbody>
			{% for s in subscription %}
				<tr>
					<td>{{ s.USER }}</td>
					<td>{{ s.PACKAGE }}</td>
					<td>{{ s.STARTED }}</td>
					<td>{% if s.EXPIRES %}{{ s.EXPIRES }}{% else %}<i>{{ lang('ACP_GROUPSUB_EXPIRES_NEVER') }}</i>{% endif %}</td>
					<td class="actions">
						<a href="{{ s.U_EDIT }}">{{ ICON_EDIT }}</a>
						<a href="{{ s.U_DELETE }}" data-ajax="row_delete">{{ ICON_DELETE }}</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5" style="text-align: center;">{{ lang('ACP_GROUPSUB_NO_SUBS') }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<form id="sub_sort" method="post" action="{{ U_ACTION }}">
		<fieldset class="display-options">
			{{ lang('SORT_BY') ~ lang('COLON') }}
			<select name="sk" id="sk">
				{% for k in sort_key %}
					<option value="{{ k.KEY }}"{% if k.S_SELECTED %} selected="selected"{% endif %}>{{ k.NAME }}</option>
				{% endfor %}
			</select>
			<select name="sd" id="sd">
				{% for d in sort_dir %}
					<option value="{{ d.KEY }}"{% if d.S_SELECTED %} selected="selected"{% endif %}>{{ d.NAME }}</option>
				{% endfor %}
			</select>
			{% if pagination %}
				{{ lang('ACP_GROUPSUB_SUBS_PER_PAGE') ~ lang('COLON') }}
				<input class="inputbox autowidth" type="number" name="limit" id="limit" min="0" max="100" value="{{ LIMIT }}">
			{% endif %}
			<input class="button2" type="submit" name="sort" value="{{ lang('GO') }}">
		</fieldset>
	</form>

	<hr>

	{% if pagination %}
		<div class="pagination">
			{% include 'pagination.html' %}
		</div>
	{% endif %}

	{% if S_SHOW_ADD %}
		<form id="sub_add" method="post" action="{{ U_ADD_SUB }}">
			<fieldset class="quick">
				<input type="hidden" name="sub_package" value="{{ PKG_ID }}">
				<input class="button2" type="submit" name="add" value="{{ lang('ACP_GROUPSUB_SUB_ADD') }}">
			</fieldset>
		</form>
	{% endif %}

{% endif %}

{% include 'overall_footer.html' %}
