{% include 'overall_header.html' %}

<h2>{{ lang('GROUPSUB_PRODUCT_LIST') }}</h2>

{% for p in product %}

<div class="panel bg{% if loop.index is odd %}1{% else %}2{% endif %}">

<div class="inner">

	<h3>{{ p.PROD_NAME }}</h3>

	<div class="column1">

		<p>{{ p.PROD_DESC }}</p>

		{% if p.group %}
			<h4>{{ lang('GROUPS') }}</h4>

			<ul>
				{% for g in p.group %}
					<li>{{ g.GROUP_NAME }}</li>
				{% endfor %}
			</ul>
		{% endif %}

	</div>

	<div class="column2">

		<dl class="details">
			<dt>{{ lang('GROUPSUB_PRICE') ~ lang('COLON') }}</dt>
			<dd>{{ p.PROD_DISPLAY_PRICE }}</dd>
			<dt>{{ lang('GROUPSUB_LENGTH') ~ lang('COLON') }}</dt>
			<dd>{{ p.PROD_LENGTH }}</dd>
			<dt>{{ lang('GROUPSUB_SUBSCRIBE') ~ lang('COLON') }}</dt>
			<dd>
				{% include '@stevotvr_groupsub/pp_button.html' with p %}
			</dd>
		</dl>

	</div>

</div>

</div>

{% else %}

<div class="panel bg1">

<div class="inner">

	<p>{{ lang('GROUPSUB_NO_PRODUCTS') }}</p>

</div>

</div>

{% endfor %}

{% include 'overall_footer.html' %}
