{% include 'overall_header.html' %}

<h2>{{ lang('GROUPSUB_PACKAGE_LIST') }}</h2>

{% for p in package %}

<div class="panel bg{% if loop.index is odd %}1{% else %}2{% endif %}">

<div class="inner">

	<h3>{{ p.NAME }}</h3>

	<div class="column1">

		<p>{% if p.DESC %}{{ p.DESC }}{% else %}<i>{{ lang('GROUPSUB_NO_DESC') }}</i>{% endif %}</p>

		{% if p.group %}
			<h4>{{ lang('GROUPS') }}</h4>

			<ul>
				{% for g in p.group %}
					<li>{{ g.NAME }}</li>
				{% endfor %}
			</ul>
		{% endif %}

	</div>

	<div class="column2">

		<form action="{{ U_ACTION }}" method="post">
		{% for t in p.term %}
			<label><input type="radio" name="term_id" value="{{ t.ID }}">{{ t.PRICE }} / {{ t.LENGTH }}</label><br>
		{% endfor %}
			<input class="button1" type="submit" name="submit" value="{{ lang('GROUPSUB_SUBSCRIBE') }}">
		</form>

	</div>

</div>

</div>

{% else %}

<div class="panel bg1">

<div class="inner">

	<p>{{ lang('GROUPSUB_NO_PACKAGES') }}</p>

</div>

</div>

{% endfor %}

{% include 'overall_footer.html' %}
