{% include 'overall_header.html' %}

<form action="https://www.{% if S_PP_SANDBOX %}sandbox.{% endif %}paypal.com/cgi-bin/webscr" method="post">

	<h2>{{ lang('GROUPSUB_PACKAGE_LIST') }}</h2>

	<div class="panel">

	<div class="inner">

		<h3>{{ CONFIRM }}</h3>

		<div class="column1">

			<p>{% if PKG_DESC %}{{ PKG_DESC }}{% else %}<i>{{ lang('GROUPSUB_NO_DESC') }}</i>{% endif %}</p>

		</div>

		<div class="column2">

			<dl class="details">
				<dt>{{ lang('GROUPSUB_SUBSCRIPTION') ~ lang('COLON') }}</dt>
				<dd>{{ PKG_NAME }}</dd>
				<dt>{{ lang('GROUPSUB_PRICE') ~ lang('COLON') }}</dt>
				<dd>{{ TERM_DISPLAY_PRICE }}</dd>
				<dt>{{ lang('GROUPSUB_LENGTH') ~ lang('COLON') }}</dt>
				<dd>{{ TERM_LENGTH }}</dd>
			</dl>

		</div>

		<hr>

		<fieldset class="submit-buttons">
			<input type="hidden" name="business" value="{{ PP_BUSINESS }}">
			<input type="hidden" name="cmd" value="_xclick">
			<input type="hidden" name="notify_url" value="{{ U_NOTIFY }}">
			<input type="hidden" name="amount" value="{{ TERM_PRICE }}">
			<input type="hidden" name="item_name" value="{{ PKG_NAME }}">
			<input type="hidden" name="item_number" value="{{ TERM_ID }}">
			<input type="hidden" name="custom" value="{{ USER_ID }}">
			<input type="hidden" name="currency_code" value="{{ TERM_CURRENCY }}">
			<input type="hidden" name="lc" value="{{ lang('GROUPSUB_PP_LOCALE') }}">
			<input type="hidden" name="no_shipping" value="1">
			<input type="hidden" name="return" value="{{ U_RETURN }}">
			<input type="hidden" name="cancel_return" value="{{ U_CANCEL_RETURN }}">
			<input type="hidden" name="charset" value="utf-8">
			<a href="{{ U_ACTION }}">{{ lang('CANCEL') }}</a>
			<input type="image" name="submit" border="0" src="https://www.paypalobjects.com/webstatic/{{ lang('GROUPSUB_PP_LOCALE') }}/i/btn/png/btn_buynow_107x26.png" alt="{{ lang('GROUPSUB_PP_BUY_NOW') }}">
		</fieldset>

	</div>

	</div>

</form>

{% include 'overall_footer.html' %}
